# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile*
.dockerignore

# Build systems
.gradle
build/
bin/
.history/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache

# OS-specific
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# Environment and secrets
.env
.env.*
env/
!env/template/
*.p12
*.pem
*.jks

# Logs and temp
*.log
temp/
tmp/